<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configure specific loggers -->
    <logger name="com.krickert.yappy.modules.webcrawlerconnector" level="DEBUG"/>
    <logger name="com.krickert.yappy.modules.webcrawlerconnector.integration" level="INFO"/>
    <logger name="org.openqa.selenium" level="INFO"/>
    <logger name="io.github.bonigarcia.wdm" level="INFO"/>
    <logger name="io.micronaut" level="INFO"/>

    <!-- Special logger for debug logs in tests -->
    <logger name="DEBUG_LOG" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>